.seperateDiceArea {
  display: flex;
  flex-direction: row;

  /*to eliminate all padding&margin*/
  flex-grow: 0;
}

.btn-primary {
  background-color: blue;
  min-width: 90px;
  border: burlywood 1px solid;
}

.outline {
  border: red solid 1px;
}

input {
  text-align: center;
  font-size: large;
  width: 50px;
}

input:not(:focus) {
  background-color: rgb(209, 209, 209);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.static-text {
  font-size: large;
}

.type-4d {
  background-color: red;
}

.type-6d {
  background-color: green;
}

.type-8d {
  background-color: yellow;
  color: black; /*Use this if you want to change the font color*/
}

.type-10d {
  background-color: orange;
}

.type-12d {
  background-color: magenta;
}
