html {
    height: 100%;
}
.container-fluid{
    margin-top: 0;
    margin-bottom: 0;
}
.GFG {  
    font-size:40px;  
    font-weight:bold; 
    color:green;
    font-family: sans-serif;
    box-sizing: border-box;
}
main {
    margin-left: 2vh;
    display: inline-block;
    flex: 1;
}
select {
    background-color: green;
}
input {
    background-color: orange;
}
body h1{
    color: red;
    text-transform: uppercase;
}
body {
    background-color: rgb(29, 29, 29);
    color: rgb(138, 138, 138);
    margin: 0;
    height: 100%;
}
main a {
    display: inline-flex;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.1em;
    color: skyblue;
    letter-spacing: 0.05em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main a:hover {
    color: rgb(221, 48, 48);
}
main li:hover {
    color: skyblue;
    word-wrap: break-word;
}
main li {
    word-wrap: break-word;
}
/* Dropdown Button */
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
    color: skyblue;
}
.tableizer-table th {
    background-color: rgb(160, 0, 0); 
    color: skyblue;
    font-weight: bold;
}
.tableizer-table tr:nth-child(even) {background-color: rgb(61, 61, 61);}
.tableizer-table tr:nth-child(odd) {background-color: rgb(97, 97, 97);}