html {
    height: 100%;
}
.container-fluid{
    margin-top: 0;
    margin-bottom: 0;
}
.GFG {  
    font-size:40px;  
    font-weight:bold; 
    color:green;
    font-family: sans-serif;
    box-sizing: border-box;
}
select {
    background-color: rgb(54, 72, 54);
}
input {
    background-color: rgb(40, 40, 40);
    color: rgb(104, 95, 118);
}
textarea {
    background-color: rgb(40, 40, 40);
    color: rgb(104, 95, 118);
}
body h1{
    color: #726A95;
    text-transform: uppercase;
}
body {
    background-color: #121212;
    color: rgb(138, 138, 138);
    margin: 0;
    height: 100%;
    width: 100%;
}
main {
    margin-left: 2vh;
    display: inline-block;
    flex: 1;
    margin-top: 40px;
    margin-left: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}
main a {
    display: inline-flex;
    text-decoration: none;
    padding: 0;
    font-size: 1.00em;
    color: skyblue;
    letter-spacing: 0.00em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main a:hover {
    color: rgb(221, 48, 48);
}
main li:hover {
    color: skyblue;
    word-wrap: break-word;
}
main li {
    word-wrap: break-word;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
}

/* =================================
            VERTICAL NAV 
==================================== */

.navlocal {
    float: left;
    top: 0 !important;
    left: 0 !important;
    width: 200px !important;
    height: 100vh !important;
    overflow: auto !important;
    background: black !important;
    background-color: rgba(255, 255, 255, 0.05) !important; 
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: top !important;
    position: fixed;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navlocal img {
    width: 70% !important;
    display: block !important;
    margin-bottom: 35px !important;
    align-content: center !important;
}
.navlocal a {
    display: inline-block !important;
    text-decoration: none !important;
    /* padding: 5px 15px !important; */
    font-size: 0.75em !important;
    color: #B4A5A5;
    font-weight: bold !important;
    /* text-transform: uppercase !important; */
    letter-spacing: 0.05em !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    text-align: center !important;
}
.navlocal a:hover {
    color: #726A95;
}
.navlocal h2 {
    text-transform: uppercase;
    color: #3C415C;
}

/* =================================
            HORIZONTAL NAV 
==================================== */

/* Add a black background color to the top navigation */
.topnav {
    background: black !important;
    background-color: rgba(255, 255, 255, 0.09) !important; 
    overflow: hidden;
    /* display: inline-block; */
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    top: 0;
}
/* Style the links inside the navigation bar */
.topnav a {
    color: #B4A5A5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: left;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #3C415C;
    color: #B4A5A5;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/* Right-side navigation links */
.topnav-right {
    float: right;
}

/* Dropdown Button */
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            BUTTONS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

button {
    transition-duration: 0.4s;
    background-color: rgb(19, 19, 19);
    color: rgb(132, 132, 132);
    font-weight: bold;
    /* border: 2px solid white; */
}

button:hover {
    background-color: red; 
    color: white;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            TABLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    word-wrap: break-word;
} 
.tableizer-table td {
    padding: 4px;
    margin: 5px;
    border: 1px solid #CCC;
    color: rgb(128, 128, 128);
    text-align: center;
}
.tableizer-table th {
    background-color: rgb(160, 0, 0); 
    color: skyblue;
    font-weight: bold;
}
.tableizer-table tr:nth-child(even) {background-color: rgb(38, 38, 38);}
.tableizer-table tr:nth-child(odd) {background-color: rgb(63, 63, 63);}
.tableizer-table img {
    transition: transform .2s;
    width: 7.5pc;
    margin: 0 auto;
}
.tableizer-table img:hover {
    -ms-transform: scale(5); /* IE 9 */
    -webkit-transform: scale(5); /* Safari 3-8 */
    transform: scale(5); 
}
button.table_button {
    border: none;
    background-color: rgb(160, 0, 0);
    transition-duration: 0.3s;
    font-weight: bold;
}
/* button.table_button:hover {
    background-color: purple;
    color: white;
} */
table button:hover {
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            TABS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

tab2 {
    tab-size: 2;
}

tab4 {
    tab-size: 4;
}

tab5 {
    tab-size: 8;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      TABLE DENOMINATIONS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

table.currency {
    width: 45pc;
    align-content: center;
    border-collapse: collapse;
    /* margin: 25px; */
    box-shadow: 0 0 20 px rgba(0,0,0,0.15);
}

table.currency td {
    text-align: center;
}
p.transactionTable table{
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    word-wrap: break-word;
}
p.transactionTable td {
    padding: 12px 15px;
    margin: 5px;
    border: 1px solid #CCC;
    color: rgb(128, 128, 128);
    text-align: center;
}
p.transactionTable th {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
p.transactionTable button.table_button {
    border: none;
    background-color: #009879;
    transition-duration: 0.3s;
    font-weight: bold;
    color: #ffffff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        TABLE TRANSACTIONS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 45%;
    box-shadow: 0 0 20px rgba(142, 142, 142, 0.15);
    text-align: center;
}
.styled-table button.table_button {
    border: none;
    background-color: #009879;
    transition-duration: 0.3s;
    font-weight: bold;
    color: #ffffff;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #4d4d4d;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #4d4d4d;
    color: black;
}
.styled-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
    border-bottom: none;
}
.styled-table img {
    transition: transform .2s;
    width: 7.5pc;
    margin: 0 auto;
}
.styled-table img:hover {
    -ms-transform: scale(5); /* IE 9 */
    -webkit-transform: scale(5); /* Safari 3-8 */
    transform: scale(5); 
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            COINS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.platinum-coin {
    color: #E5E4E2;
}
  
.gold-coin {
    color: gold;
}

.electrum-coin {
    color: #F4FCFF;
}

.silver-coin {
    color: silver;
}

.copper-coin {
    color: #CD8232;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            MODALS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #3a3a3a;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid rgb(255, 0, 0);
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  